/* Import fonte da web */
@font-face {
    font-family: 'Inter', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap);
}

body{
    background-color: #F7EAE2;
    color: aliceblue;
    margin: 0;
}

div{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

nav{
    position: relative;
    right: 0;
}

nav li{
    display: inline;
    margin: 0,0,0, 15px;

    /* Fonte e colocar */
    font-family: 'Inter', sans-serif;
    /* text-decoration: none; */
    list-style: none;
    
    /* Espaço entre os itens */
    padding-right: 5ch;
    margin: 0px auto;

    /* centraliza verticalmente 2*/
    line-height: 4.0;
    vertical-align: middle;
}

ul{
    background-color: #7D3436;
    margin: 0;
    height: 8ch;
    /* padding-right: 10ch; */

    /* centraliza verticalmente 1*/
    text-align: center;
    line-height: 50px;
}

nav li a:hover{
    color: rgb(12, 12, 12);
    
}

li a{
    color: white;
    text-decoration: none;
}

#logo {
    display: inline-block;
    float: left;
    width:50px;
    height:50px;

    /* centraliza verticalmente 1*/
    line-height: 60px;
}

#logo-imagem{
    width:50px;
    height:50px;

    /* centraliza verticalmente 2*/
    line-height: 3.5;
    display: inline-block;
    vertical-align: middle;
}