<section>

  <div class="custom-create1">
    <form class="card custom-create" action="/alunos/add" method="post">
        <h1>Inserir usuario</h1>

        <label for="nome"><br></label>
        <input class="form-control" type="text" name="nome" placeholder="Nome">

        <label for="matricula"><br></label>
        <input class="form-control" type="text" name="matricula" placeholder="Celular">
        <br>
      <input class="btn btn-secondary btn-lg" type="submit" value="Inserir">
    </form>
  </div>
</section>


<style>
  .custom-create{
    width: 40%;
    margin: auto;
    background-color: bisque;
  }
  .custom-create1{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(255, 242, 225);
  }
  
</style>