<section>

  <div class="custom-create1">
    <form class="card custom-create" action="/alunos/add" method="post">
        <h1>Inserir cliente</h1>
        <br>
        <label for="nome"><br></label>
        <input class="form-control" type="text" name="nome" placeholder="Nome">

        <label for="telefone"><br></label>
        <input class="form-control" type="text" name="telefone" placeholder="Celular">

        <label for="cpf"><br></label>
        <input class="form-control" type="text" name="cpf" placeholder="CPF">
        <br>
      <input class="btn btn-secondary btn-lg" type="submit" value="Inserir">
    </form>
  </div>
</section>


<style>
  .custom-create{
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: bisque;
  }
  .custom-create1{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(255, 242, 225);
    
  }

  input{
    height: 48px;
    
  }

</style>